
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Inconsolata;
    color: saddlebrown;
    letter-spacing: 5px;
    background-color: cornsilk; 
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

h4{
    font-size: 30px;
}

/*---header---*/
/*--Navigation--*/

nav {
    height: 100px;
}

.navbar {
    background-color: cornsilk !important;
    color: saddlebrown !important;
}

.navbar-brand {
    color: saddlebrown !important;
    font-size: 40px;
    font-weight: bolder;
}

.nav-link {
    text-transform: uppercase;
    color: saddlebrown !important;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.nav-item {
    position: relative;
}

.nav-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid saddlebrown;
    transition: 0.3s;
}


.nav-item:hover:after {
    transition: 0.3s;
    width: 100%;
    background-color: sandybrown;
}

.navbar-toggler {
    background-color: saddlebrown !important; 
    border: none; 
}

/*--Home section--*/

#home-image {
    width: 100%;
    height: 1000px;
    background-image: url("../images/heroimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#cover-text {
    width: 750px;
    height: 180px;
    background-color: saddlebrown;
    border-radius: 10px;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    color: cornsilk;
    font-size: 30px;
    text-align: justify;
    text-shadow: 3px 3px 3px chocolate;
    top: 780px;
    left: 170px;
    padding: 20px;
}

/*--About section--*/

#about-page {
    background-color: cornsilk;
    color: saddlebrown;
}

/*--Gallery--*/

#gallery{
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#gallery img {
    width: 100%;
}


/*--Menu section--*/
#menu-page {
background-color: saddlebrown;
    color: cornsilk;
}

/*--Shop section--*/

#shop-page {
    background-color: cornsilk;
    color: saddlebrown;
}

#shop-page ul {
    font-size: 30px;
}

.btn {
    font-size: 20px;
    background-color: saddlebrown;
    border: none;
    color: cornsilk;
}

.btn:hover {
    opacity: 1;
    background-color: sandybrown;
    color: cornsilk;
}


/*--Contact section--*/
#contact-page {
    background-color: saddlebrown;
    color: cornsilk;
}

/*--Footer--*/

footer {
    height: 80px;
    color: saddlebrown;
    font-size: 100%;
}

.social-media {
    text-align: center;
    background-color: cornsilk;
}

.social-media li {
    display: inline;
}

.social-media i {
    color: saddlebrown;
    font-size: 60px;
    padding: 3px;
    margin: 3px;
}
