@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Inconsolata;
    color: saddlebrown;
    letter-spacing: 2px;
    background-color: cornsilk;
}

/*---header---*/
/*--Navigation--*/
nav {
    height: 65px;
    border-bottom: 1px solid sandybrown;
}

.navbar {
    background-color: cornsilk !important;
    color: saddlebrown !important;
}

.navbar-brand {
    color: saddlebrown !important;
    font-size: 25px;
    font-weight: bolder;
}

.nav-item {
    position: relative;
}

.nav-link {
    text-transform: uppercase;
    color: saddlebrown !important;
    background-color: cornsilk !important;
    font-size: 15px;
    font-weight: bold;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 0%;
    border-bottom: 3px solid sandybrown;
    transition: 0.2s;
    bottom: 0;
    left: 0;
}

.nav-item:hover:after {
    transition: 0.2s;
    width: 100%;
}

.navbar-toggler {
    background-color: saddlebrown !important;
    border: none;
}

/*--Home section--*/
#home-page {
    background-color: saddlebrown;
}

#home-image img {
    max-width: 100%;
    height: auto;
    display: flex;
    background-size: cover;
    border-radius: 20px;
    align-content: center;
}

#home-text p {
    color: cornsilk;
    font-size: 18px;
    text-shadow: 3px 3px 3px chocolate;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

/*--About section--*/
#about-page {
    background-color: cornsilk;
    color: saddlebrown;
}

#about-page h1 {
    font-weight: bold;
    text-align: center;
}

#about-page h3 {
    text-align: center;
}

.place h2 {
    text-align: left;
    font-weight: bolder;
    padding: 7px;
}

.team h2 {
    text-align: right;
    font-weight: bolder;
    padding: 7px;
}

#about-page p {
    text-align: justify;
    font-size: 18px;
    padding-top: 10px;
}

#about-page img {
    width: 350px;
    height: 525px;
}

.place img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.team img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/*--Gallery--*/
.gallery h2 {
    text-align: center;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    row-gap: 0;
}

#photo img {
    width: 370px;
    height: 235px;
    padding: 3px;
}

@media screen and (min-width: 768px) {
    #photo {
        column-count: 2;
    }

    #photo img {
        width: 270px;
        height: 180px;
        padding: 3px;
    }
}

@media screen and (max-width: 576px) {
    #photo {
        column-count: 2;
    }

    #photo img {
        width: 170px;
        height: 110px;
        padding: 3px;
    }
}

/*--Menu section--*/
#menu-page {
    background-color: saddlebrown;
    color: cornsilk;
}

#menu-page h1 {
    font-weight: bold;
    text-align: center;
}

#menu-page h3 {
    text-align: center;
}

.beverages h2 {
    text-align: left;
    font-weight: bolder;
    padding: 7px;
}

.bites h2 {
    text-align: right;
    font-weight: bolder;
    padding: 7px;
}

.beverages li {
    text-align: left;
    font-size: 19px;
}

.bites li {
    text-align: right;
    font-size: 19px;
}

#menu-page img {
    width: 350px;
    height: 525px;
}

.beverages img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.bites img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

/*--Shop section--*/
#shop-page {
    background-color: cornsilk;
    color: saddlebrown;
}

#shop-page ul {
    font-size: 30px;
}

.list-style {
    list-style: none;
}

#shop-page h1 {
    font-weight: bold;
    text-align: center;
}

#shop-page h3 {
    text-align: center;
}

.coffee h2 {
    text-align: left;
    font-weight: bolder;
    padding: 7px;
}

.gifts h2 {
    text-align: right;
    font-weight: bolder;
    padding: 7px;
}

.coffee ul {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.gifts ul {
    text-align: center;
    font-size: 17px;
    padding-bottom: 10px;
}

.coffee li {
    padding-top: 20px;
}

.gifts li {
    padding-top: 20px;
}

#shop-page img {
    width: 350px;
    height: 525px;
}

.coffee img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.gifts img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#shop-page .btn {
    font-size: 30px;
    background-color: saddlebrown;
    border: none;
    color: cornsilk;
}

#shop-page .btn:hover {
    opacity: 1;
    background-color: sandybrown;
    color: cornsilk;
}

/*--Contact section--*/
#contact-page {
    background-color: saddlebrown;
    color: cornsilk;
}

#contact-page h1 {
    font-weight: bold;
    text-align: center;
}

#contact-page h3 {
    text-align: center;
}

.address h2 {
    text-align: left;
    font-weight: bolder;
    padding: 7px;
}

.form h2 {
    text-align: right;
    font-weight: bolder;
    padding: 7px;
}

#contact-page p {
    text-align: justify;
    font-size: 25px;
    padding-top: 10px;
}

#contact-page form {
    text-align: justify;
    font-size: 17px;
    text-align: right;
}

#contact-page .btn {
    background-color: cornsilk;
    color: saddlebrown;
}

#contact-page .btn:hover {
    opacity: 1;
    background-color: sandybrown;
    color: cornsilk;
}

.address div {
    opacity: 0.3;
    width: 50%;
    height: auto;
    border-radius: 15px;
}


/*--Footer--*/
footer {
    height: 80px;
    color: saddlebrown;
    font-size: 100%;
}

footer h2 {
    text-align: center;
}

ul li {
    list-style-position: inside;
}

.social-media {
    text-align: center;
    background-color: cornsilk;
}

.social-media li {
    display: inline;
}

.social-media i {
    color: saddlebrown;
    font-size: 60px;
    padding: 3px;
    margin: 3px;
}

.social-media i:hover {
    background-color: sandybrown;
    color: cornsilk;
    border-radius: 7px;
}

footer p {
    text-align: center;
}
