
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Inconsolata;
    color: saddlebrown;
    letter-spacing: 5px;
}

/*---header---*/

#top-image {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/codeline.jpg");
}

.responsive {
    width: 100%;
    height: auto;
}

/*--Navigation--*/

nav {
    height: 100px;
}

.navbar {
    background-color: cornsilk !important;
}

.navbar-brand {
    color: saddlebrown !important;
    font-size: 40px;
}

.nav-link {
    text-transform: uppercase;
    color: saddlebrown !important;
    font-size: 30px;
    font-weight: bold;
}

/*--Home section--*/

#home-image {
    width: 100%;
    height: 1000px;
    background-image: url("../images/heroimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#cover-text {
    width: 750px;
    height: 180px;
    background-color: saddlebrown;
    border-radius: 10px;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    color: cornsilk;
    font-size: 30px;
    text-align: justify;
    text-shadow: 3px 3px 3px chocolate;
    top: 850px;
    left: 200px;
    padding: 20px;
}

/*--About section--*/

#about-page {
    background-color: cornsilk;
    color: saddlebrown;
}

#about-page h2 {
text-align: right;
}

#about-page h3 {
    text-align: center;
}

/*--Gallery--*/

#gallery{
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#gallery img {
    width: 100%;
}


/*--Menu section--*/
#menu-page {
background-color: saddlebrown;
    color: cornsilk;
}

#menu-page h2 {
text-align: right;
}

/*--Shop section--*/

#shop-page {
    background-color: cornsilk;
    color: saddlebrown;
}

#shop-page h2 {
text-align: right;
}

#shop-page h3 {
    font-size: 20px;
    text-align: center;
}

#shop-page h4{
    font-size: 40px;
}

#shop-page ul {
    font-size: 30px;
}

.btn {
    font-size: 20px;
    background-color: saddlebrown;
    color: cornsilk;
}

/*--Contact section--*/
#contact-page {
    background-color: saddlebrown;
    color: cornsilk;
}

#contact-page h2 {
text-align: right;
}



/*--Footer--*/

footer {
    height: 80px;
    color: saddlebrown;
    font-size: 100%;
}

.social-media {
    text-align: center;
    background-color: cornsilk;
}

.social-media li {
    display: inline;
}

.social-media i {
    color: saddlebrown;
    font-size: 60px;
    padding: 3px;
    margin: 3px;
}
